.env
/venv
.venv/
.claude/

__pycache__

.DS_Store
.pytest_cache/

# Ignore fake server certificates
.server-certificates/

# Ignore the initial server files
api/apo.py 
api/app.py

# Ignore credentials
api/credentials/

# Ignore Ml models
api/ml_models/*