.env
/venv
.venv/

__pycache__

.DS_Store

# Ignore fake server certificates
.server-certificates/

# Ignore the initial server files
api/apo.py 
api/app.py

# Ignore credentials
api/credentials/

# Ignore Ml models
api/ml_models/*